#login-table {
    position: relative;
    left: 35%;
    top: 200px;
    width: 30%;
    height: 250px;
    vertical-align: middle;
    horiz-align: center;
    border-radius: 30px;
    background-color: #ccc;
    opacity: 0.9;
}

#body {
    background-color: #23527c;
}

#fb-button {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 100%;
}