.draggable {
    float: left;
    font-size: .9em;
    height: 40px;
    background: #ccc;
    border-radius: 15px;
}

.ship {
    float: left;
    font-size: .9em;
    height: 40px;
    background: #ccc;
    border-radius: 15px;
}

.length-1 {
    width: 50px;
}

.length-2 {
    width: 100px;
}

.length-3 {
    width: 150px;
}

.orient-v {
    -webkit-transform: translateY(-100%) rotate(90deg);
    -moz-transform: translateY(-100%) rotate(90deg);
    /*-moz-transform-origin: right top; */
    -ms-transform: translateY(-100%) rotate(90deg);
    -o-transform: translateY(-100%) rotate(90deg);
    transform: translateY(-100%) rotate(90deg);
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
}

#ready-button {
    margin-top: 7px;
    margin-right: 7px;
    background-color: #A9BCF5;
    border-color: #5882FA;
}

#ready-titles {
    margin-left: 13px;
    margin-top: 13px;
}

#ready-button:hover {
    background-color: #CEECF5;
}

.ui-widget-header p, .ui-widget-content p {
    margin: 0;
}

.board {
    width: 508px;
    height: 508px;
    border: 2px 2px 2px 0px solid #ccc;
}

.cell {
    width: 50px;
    margin: 0;
    padding: 0;
    height: 50px;
    border: 1px solid #ccc;
    position: relative;
    float: left;
}

.fired-cell {
    background-color: #F78181;
}

.water-cell {
    background-color: #CEF6F5;
}

.sunken-cell {
    background-color: #3c3c3c;
}
#header-navbar {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

#header-container {
    width: 100%
}

.game-navbar {
    height: 40px;

}

.board-header {
    width: 100%;
}

#game-container {
    width: 100%;
}

.wrong-location {
    background: #F78181;
}

.winning-modal {
    display: none;
}

.active-player {
    background: #87CEEB !important;
}

#player-navbar, #opponent-navbar {
    background: #4169E1 !important;
}